/* font for headings */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #09221E;
    display: flex;
    flex-direction: column;
}
/*Header Styling*/
header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 1 rem;
    justify-content: space-between;
    background: #09221e9a;
}
.page-navs {
    text-decoration: none;
    color: black;
    background: goldenrod;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 3px 3px rgba(218, 165, 32, 0.404);
}
.page-navs:hover {
    background: rgba(218, 165, 32, 0.61);
}
.page-navs:active {
    box-shadow: none;
}
#home-nav-btn {
    margin: 1rem 2rem;
    border: 0.2rem solid white;
    border-radius: 50%;
    background: goldenrod;
    object-fit: cover;
    width: 10vw;
    box-shadow: 3px 3px rgba(218, 165, 32, 0.404);
}
#home-nav-btn:hover {
    background: rgba(218, 165, 32, 0.61);
}
#home-nav-btn:active {
    box-shadow: none;
}
.home-icon {
    width: 100%;
    height: 100%;
}
#nav-icon {
    border-radius: 50%;
}
/*Social buttons and footer*/
#email-icon {
    background: white;
    border-radius: 50%;
    width: 6vw;     
}
.social-buttons1 {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.social-navs {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
footer {
    text-align: center;
    padding: 1.5rem;
    font-size: 0.8rem;
    color: white;
}
/*Main page styling*/
h1 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: white;
    text-align: center;
    padding: 2rem 3rem; 
    font-size: 5rem;
}
.profile-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.profile-pic {
    border-radius: 50%;
    width: 50vw;
    border: 2px solid goldenrod;
}
h3 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: white;
    padding: 2rem;
}
.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
#future-loading-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Loading bar animation*/
.loading-bar-wrapper {
    width: 75%;  
}
.loading-bar {
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 3vh;
    width: 70%;
    border: 1px solid goldenrod;
    background: #09221E;
    border-radius: 2rem;
    overflow: hidden;
}
@keyframes loading {
    0% {
        width: 0%;
    }
    50% {
        width: 95%;
    }
    100% {
        width: 0%;
    }
}
.loading-content {
    display: flex;
    height: 3vh;
    width: 0%;
    background: #3DED0C;
    border-radius: 2rem;
    animation-name: loading;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes loading-text {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#loading-description {
    font-size: 2rem;
    animation-name: loading-text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#job-identifier {
    font-size: 3rem;
}
/*Blog Page Styling*/
.head-blog {
    padding: 3rem;
    color: white;
    border: 2px solid goldenrod;
    border-radius: 3rem;
    width: 80%;
    justify-content: center;
    font-family: 'Roboto', sans-ser;
    font-weight: lighter;
    background: #2e334d;
}
.blogs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.blog-links-title {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.main-blog-img {
    display: flex;
    justify-content: center;
    max-height: 40vh;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid goldenrod;
    border-radius: 2rem;
}
.link-blogs {
    display: flex;
    justify-content: center;
    border: 2px solid goldenrod;
    height: 10vh;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
    border-radius: 2rem;
    background: url(images/Europepic.jpg);
    object-fit: fill;
}
.link-blogs2 {
    display: flex;
    justify-content: center;
    border: 2px solid goldenrod;
    height: 10vh;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
    border-radius: 2rem;
    background: url(images/japanpic.jpg);
    object-fit: fill;
}
.link-blogs3 {
    display: flex;
    justify-content: center;
    border: 2px solid goldenrod;
    height: 10vh;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
    border-radius: 2rem;
    background: url(images/america-photo.png);
    object-fit: fill;
}
.link-blogs4 {
    display: flex;
    justify-content: center;
    border: 2px solid goldenrod;
    height: 10vh;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
    border-radius: 2rem;
    background: url(images/NZ-image.png);
    object-fit: fill;
}
.link-blogs5 {
    display: flex;
    justify-content: center;
    border: 2px solid goldenrod;
    height: 10vh;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
    border-radius: 2rem;
    background: url(images/africa-photo.png);
    object-fit: fill;
}
.link-blogs:hover {
    background: rgba(255, 199, 58, 0.897);
}
.link-blogs2:hover {
    background: rgba(255, 199, 58, 0.897);
}
.link-blogs3:hover {
    background: rgba(255, 199, 58, 0.897);
}
.link-blogs4:hover {
    background: rgba(255, 199, 58, 0.897);
}
.link-blogs5:hover {
    background: rgba(255, 199, 58, 0.897);
}
.blog-links-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgb(27, 26, 80);
}
/*About me page styling*/
#about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.about-me-sect {
    border: 1px solid goldenrod;
    width: 80%;
    border-radius: 3rem;
    padding: 2rem;
    background: #2e334d;
}
.img-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 2px solid goldenrod;
    border-radius: 2rem;
}
#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#resume-btn-cont {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 2rem 2rem 0 2rem;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 2rem;
    background: goldenrod;
    box-shadow: 3px 3px rgba(218, 165, 32, 0.404);
}
#resume-btn-cont:hover {
    background: rgba(218, 165, 32, 0.61);
}
#resume-btn-cont:active {
    box-shadow: none;
}
#resume-btn {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.about-me-para {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding: 1rem;
}
.hobbies-container {
    display: flex;

}
/*Projects page styling*/
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid goldenrod;
    border-radius: 2rem;
    margin: 2rem 15%;
}
h5  {
    color: white;
    padding: 2rem;
}
/*Styling for tablet*/
@media only screen and (min-width: 900px) {
    .home-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 10% 5%;
    }
    .profile-pic {
        max-width: 20vw;
    }
    #home-nav-btn {
        max-width: 4vw;
    }
    #future-loading-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #divider {
        height: 50vh;
        border: 2px solid goldenrod;
        background: goldenrod;
        border-radius: 1rem;
        margin: 0% 10%;
    }
    .about-me-sect {
        display: flex;
        align-items: center;
    }   
    .img-container {
        flex: 1;
        max-height: 60vh;
    }
    #about-me {
        flex: 1;
    }
    #laylapic {
        object-fit: cover;
    }
    #resume-btn-cont {
        width: 40%;
    }
    .blogs-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5%;
    }
    .head-blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 3;
    }
    #link-blogs-container {
        flex: 2;
        display: flex;
        flex-direction: column;
    }
    .main-blog-img {
        max-width: 25vw;
        height: auto;
    }
    .blog-photo {
        object-fit: cover;
    }
    .link-blogs {
        /* background: url(images/africa-photo.png); */
    }
    .blogs-container {
        align-items: space-between;
    }
    .social-navs {
        width: 25%;
    }

}