/* font for headings */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #09221E;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 1 rem;
    justify-content: space-between;
    background: #09221E;
}

.page-navs {
    text-decoration: none;
    color: black;
    background: gold;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
}

#email-icon {
    background: white;
    border-radius: 50%;
    width: 6vw;     
}

.social-buttons1 {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.social-navs {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

#home-nav-btn {
    margin: 1rem 2rem;
    border: 0.2rem solid white;
    border-radius: 50%;
    background: gold;
    object-fit: cover;
    width: 10vw;
}

.home-icon {
    width: 100%;
    height: 100%;
}

#nav-icon {
    border-radius: 50%;
}

h1 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: white;
    text-align: center;
    padding: 2rem 3rem; 
    font-size: 5rem;
}

.profile-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.profile-pic {
    border-radius: 50%;
    width: 50vw;
    border: 2px solid gold;
}

h3 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: white;
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 1.5rem;
    font-size: 0.8rem;
    color: white;
}

.head-blog {
    padding: 3rem;
    color: white;
    border: 2px solid gold;
    border-radius: 3rem;
    width: 80%;
    justify-content: center;
    font-family: 'Roboto', sans-ser;
    font-weight: lighter;

}

.blogs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.main-blog-img {
    display: flex;
    justify-content: center;
    max-height: 40vh;
    overflow: hidden;
    object-fit: cover;
}

.link-blogs {
    display: flex;
    justify-content: center;
    border: 2px solid gold;
    height: 10vh;
    padding: 2rem;
    margin: 1rem;
    width: 80%;
    border-radius: 2rem;
    background: #030430;
    object-fit: contain;
}

.loading-bar-wrapper {
    width: 75%;  
}

.loading-bar{
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 3vh;
    width: 60%;
    border: 1px solid gold;
    background: #09221E;
    border-radius: 2rem;
    overflow: hidden;
}

@keyframes loading {
    0% {
        width: 0%;
    }
    50% {
        width: 95%;
    }
    100% {
        width: 0%;
    }
}

.loading-content {
    display: flex;
    height: 3vh;
    width: 0%;
    background: #3DED0C;
    border-radius: 2rem;
    animation-name: loading;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

@keyframes loading-text {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#loading-description {
    font-size: 2rem;
    animation-name: loading-text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#job-identifier {
    font-size: 3rem;
}